<table border="0" cellspacing="0" cellpadding="0" width="$tableWidth" valign="top">
	#foreach ( $row in [$dataTable.row0..$dataTable.rowEnd])
    <tr height="32px">
    #foreach ( $col in [$dataTable.col0..$dataTable.colEnd])
      	#if ( $dataTable.isVisible($row, $col) )
        	#if ( $dataTable.isDefaultCell($row, $col) )
          		<td> </td>
        	#else
          		#set ( $cell = $dataTable.getCell($row, $col) )
          			#if ( $cell.isType("title") )
  						<td rowspan="$cell.rowSpan" colspan="$cell.colSpan" align="center" valign="top" bgcolor="0x666666">
             				<b><big><big>
             					$cell.name
             				</big></big></b>
          				</td>
					#end
					#if ( $cell.isType("top") )
  						<td rowspan="$cell.rowSpan" colspan="$cell.colSpan" align="center" valign="centre" width="64px" background="Top.jpg">
             					<p style="font-size:50%">$cell.name</p>
          				</td>
					#end
					#if ( $cell.isType("empty") )
  						<td rowspan="$cell.rowSpan" colspan="$cell.colSpan" align="center" valign="centre" width="64px" background="Empty.jpg">
             					<p style="font-size:50%">$cell.name</p>
          				</td>
					#end
					#if ( $cell.isType("basic") )
  						<td rowspan="$cell.rowSpan" colspan="$cell.colSpan" align="center" valign="bottom" width="64px" background="Basic.jpg">
             					$cell.name
          				</td>
					#end
					#if ( $cell.isType("gasgiant") )
  						<td rowspan="$cell.rowSpan" colspan="$cell.colSpan" align="center" valign="bottom" width="64px" background="GasGiant.jpg">
             					$cell.name
          				</td>
					#end
					#if ( $cell.isType("bottom") )
  						<td rowspan="$cell.rowSpan" colspan="$cell.colSpan" align="center" valign="centre" width="64px" background="Bottom.jpg">
             					<p style="font-size:50%">$cell.name</p>
          				</td>
					#end
        		#end
      		#end
    	#end
	#end
</table>
