<web-app version="3.0" metadata-complete="true">

	<servlet>
		<servlet-name>WorldBasicInfoServlet</servlet-name>
		<servlet-class>traveller.servlets.WorldBasicInfoServlet</servlet-class>	
	</servlet>
	
	<servlet-mapping>
		<servlet-name>WorldBasicInfoServlet</servlet-name>
		<url-pattern>/World</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>JumpTrade</servlet-name>
		<servlet-class>traveller.servlets.JumpTrade</servlet-class>	
	</servlet>
	
	<servlet-mapping>
		<servlet-name>JumpTrade</servlet-name>
		<url-pattern>/JumpTrade</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>WorldInfoManager</servlet-name>
		<servlet-class>traveller.servlets.WorldInfoManager</servlet-class>	
	</servlet>
	
	<servlet-mapping>
		<servlet-name>WorldInfoManager</servlet-name>
		<url-pattern>/WorldInfoManager</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>WorldServlet</servlet-name>
		<servlet-class>traveller.servlets.WorldServlet</servlet-class>	
	</servlet>
	
	<servlet>
		<servlet-name>TraderServlet</servlet-name>
		<servlet-class>traveller.servlets.TraderServlet</servlet-class>	
	</servlet>
	
	<servlet>
		<servlet-name>FreightServlet</servlet-name>
		<servlet-class>traveller.servlets.FreightServlet</servlet-class>	
	</servlet>
	
	<servlet>
		<servlet-name>SubsectorServlet</servlet-name>
		<servlet-class>traveller.servlets.SubsectorServlet</servlet-class>	
	</servlet>
	
	<servlet>
		<servlet-name>FramedSubsectorServlet</servlet-name>
		<servlet-class>traveller.servlets.frames.FramedSubsectorServlet</servlet-class>	
	</servlet>
	
	<servlet-mapping>
		<servlet-name>FramedSubsectorServlet</servlet-name>
		<url-pattern>/FramedSubsectorServlet</url-pattern>
	</servlet-mapping>
	
	
	<servlet-mapping>
		<servlet-name>SubsectorServlet</servlet-name>
		<url-pattern>/SubsectorServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>FreightServlet</servlet-name>
		<url-pattern>/FreightServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>WorldServlet</servlet-name>
		<url-pattern>/WorldServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>TraderServlet</servlet-name>
		<url-pattern>/TraderServlet</url-pattern>
	</servlet-mapping>

</web-app>